.project {
  overflow: hidden;
  margin: 0 0 4rem;
}

.project-title {
  font-size: 2rem;
}

.project-img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .project-title {
    text-align: center;
  }
}
